@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
@import './additional-styles/utility-patterns.css';
@import './additional-styles/range-slider.css';
@import './additional-styles/toggle-switch.css';
@import './additional-styles/theme.css';

/* Custom CSS variables for colors and fonts */
:root {
  --color-slate-900: #101d2d;
  --color-blue-500: #5696ff;
  --color-blue-600: #2174ea;
  --font-inter: Inter, sans-serif;
  --font-playfair-display: Playfair Display, serif;
}

/* Custom utility for RTL direction */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}
